/* Theme email
================================================== */
.theme-email {
  header {
    background-color: $email-blue;
    form.search-form {
      .form-control {
        border-right: 0;
        &:focus,
        &:focus-visible {
          border-right: 0;
        }
      }
    }
  }
  form {
    .form-control{
      &:focus,
      &:focus-visible {
        border-bottom: 2px solid $email-blue;
        border-left: 2px solid $email-blue;
        border-right: 0;
        border-top: 2px solid $email-blue;
        box-shadow: 0 0 0.15rem rgba(255, 255, 255, 1);
      }
    }
  }
  .main-page-header {
    color: $brand-white;
    padding-top: 3rem;
  }
  .btn.btn-primary {
    background-color: $email-blue;
    color: $brand-white;
  }
  .btn.btn-secondary {
    background-color: $brand-white;
    color: $font-color;
  }
}