/* Theme email
================================================== */
.theme-email {

  /* header
  ================================================== */
  header {
    background-color: $email-blue;
    form.search-form {
      .form-control {
        border-right: 0;
        &:focus,
        &:focus-visible {
          border-right: 0;
        }
      }
    }
  }
  form {
    .form-control{
      &:focus,
      &:focus-visible {
        border-bottom: 2px solid $email-blue;
        border-left: 2px solid $email-blue;
        border-right: 0;
        border-top: 2px solid $email-blue;
        box-shadow: 0 0 0.15rem rgba(255, 255, 255, 1);
      }
    }
  }
  .page-header,
  .page-header-with-img {
    color: $brand-white;
    margin-bottom: .3rem;
  }

  /* buttons
  ================================================== */
  .btn.btn-primary {
    background-color: $email-blue;
    color: $brand-white;
  }
  .btn.btn-secondary {
    background-color: $brand-white;
    color: $font-color;
  }

  /* Lists
  ================================================== */
  .check-list {
    ul {
      li {
        &:before {
          color: $email-blue;
        }
      }
    }
  }

  /* boxes
  ================================================== */
  .box-brand-color {
    background-color: $email-blue;
    color: $brand-white;
  }
  /* cards
  ================================================== */
  .card {
    color: $email-blue;
  }
  .card.card-brand-bkgrd {
    .card-body {
      background-color: $email-blue;
      color: $brand-white;
    }
  }
}

