/* reset
====================================================== */
@use '../vendors/bs5/bootstrap';
@use '../abstracts' as *;

.container-fluid {
  padding-left: $grid-layout-spacing;;
  padding-right: $grid-layout-spacing;;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
[class*="col-"] {
  padding-left: $grid-layout-spacing;
  padding-right: $grid-layout-spacing;
}
