/* reset
====================================================== */
div.container-fluid {
  padding-left: $grid-layout-spacing;;
  padding-right: $grid-layout-spacing;;
}

div.row {
  margin-left: 0;
  margin-right: 0;
}

div[class*="col-"] {
  padding-left: $grid-layout-spacing;
  padding-right: $grid-layout-spacing;
}
