/* Global color sass variables
================================================== */
$brand-black: #000000;
$brand-white: #ffffff;
$font-color: #424242;
$warm-grey: #f0ede9;
$cool-grey: #f2f3f7;
$grey-border: #ebebeb;

/* JR color sass variables
================================================== */
$jr-black: #11141a;
$jr-darkgrey: #495054;
$jr-middlegrey: #7a8991;
$jr-lightgrey: #f2f1f0;

$jr-green: #44aa44;
$jr-yellow: #e3c20d;
$jr-orange: #e35e3b;
$jr-red: #f64f4f;

$jr-box-shadow: rgba(18, 38, 63, 0.03);

/* Email color sass variables
================================================== */
$email-blue: #0B2582;
$email-soft-blue: #F2F3F7;

