/* Global image mixins
================================================== */
@mixin settings-logo-color() {
  background: url('../images/settings-logo-color.svg') no-repeat 10px center /
  102px 23px !important;
}
@mixin dxhub-logo-color() {
  background: url('../images/dxhub-logo-color.svg') no-repeat 10px center / 98px
  23px !important;
}
@mixin neoletter-logo-color() {
  background: url('../images/neoletter-logo-color.svg') no-repeat 10px center /
  125px 23px !important;
}
@mixin scrivito-logo-color() {
  background: url('../images/scrivito-logo-color.svg') no-repeat 10px center /
  100px 23px !important;
}
@mixin pisa-logo-color() {
  background: url('../images/pisa-logo-color.svg') no-repeat 10px center / 125px
  23px !important;
}

@mixin spaceman() {
  background: url('../images/spaceman.svg') no-repeat center !important;
}
@mixin spaceman-lock() {
  background: url('../images/spaceman-lock.svg') no-repeat center !important;
}
@mixin success-plane() {
  background: url('../images/success-plane.svg') no-repeat center !important;
}

@mixin file-question() {
  background: url('../images/file-question.svg') no-repeat center !important;
}
@mixin file-ok() {
  background: url('../images/file-ok.svg') no-repeat center !important;
}
@mixin file-error() {
  background: url('../images/file-error.svg') no-repeat center !important;
}

/* Aspect Ratio for images
================================================== */
@mixin aspect-ratio ($width, $height) {
  position: relative;
  &:before {
    content: "";
    display: block;
  //   padding-top: math.div($height, $width) * 100%; // Note: replace code below with this when it's depreciated //
    padding-top: ($height / $width) * 100%;
    width: 100%;
  }
  > .content {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
  }
}
