
/* boxes
================================================== */
.box {
  height: 100%;
  padding: 4rem 2rem;
  @include media-breakpoint-up(sm) {
    padding: 4rem 3rem;
  }

  div[class*="col-"] {
    padding-left: .8rem;
    padding-right: .8rem;
  }
}

.box.box-no-pb-sm {
  @include media-breakpoint-down(md){
    padding-bottom: 0;
  }
}

/* box colors
================================================== */
.box-warm-grey {
  background-color: $warm-grey;
}

.box-cool-grey {
  background-color: $cool-grey;
}

.box-white {
  background-color: $brand-white;
}

