/* Headers
====================================================== */

/* Page Header
====================================================== */
.main-page-header {
  align-content: end;
  display: flex;
  h1,
  h2,
  h3,
  p {
    hyphens: none;
    word-wrap: normal;
  }
  // img {
  //   margin-bottom: 1rem;
  //   @include media-breakpoint-up(md) {
  //     margin-bottom: 0;
  //   }
  // }
}