/* Navigation
================================================== */

nav.custom-navbar-bkgrd-color {
  background-color: $brand-white;
  color: $font-color;
}

nav.navbar {
  background-color: transparent;
  color: $brand-white;
  font-family: $brand-font-bold;
  padding: 0rem 2rem;
  @include media-breakpoint-up(sm) {
    padding: 0rem 4rem;
  }
  @include media-breakpoint-up(xl){
    margin: auto;
    max-width: 1400px;
  }
  .navbar-brand {
    img {
      height: 60px;
      width: auto;
    }
  }
  .navbar-toggler.active {
    .line-1 {
      transform: rotate(135deg);
      margin-top: 7px;
      margin-left: -2px;
    }
    .line-2 {
      transform: rotate(45deg);
      margin-top: -2px;
      margin-left: -2px;
    }
  }
  .navbar-toggler {
    border: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
    &:focus,
    &:focus-visible {
      box-shadow: none;
    }
    .wrapper-lines {
      position: relative;
    }
    .lines {
      background: $brand-white;
      display: block;
      height: 2px;
      width: 15px;
    }
    .line-1 {
      transform: rotate(0deg);
      margin-top: 2px;
      margin-left: -2px;
    }
    .line-2 {
      transform: rotate(0deg);
      margin-top: 5px;
      margin-left: -2px;
    }
    .animate {
      transition: .3s cubic-bezier(0.1, 0.02, 0.2, 1);
    }
  }
  .navbar-collapse {
    justify-content: space-between;
    .navbar-nav.navbar-left {
      .dropdown-menu {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
      }
    }
    .nav-item.dropdown:hover {
      .dropdown-menu {
        display: block;
      }
    }
    .nav-link,
    .nav-link.active {
      color: $brand-white;
      &:active,
      &:hover,
      &:focus {
        color: $brand-white;
      }
    }
    .nav-link {
      display: inline-block;
    }
    .dropdown-toggle {
      padding-right: .5rem;
    }
    .dropdown-toggle::after {
      display: none;
    }
    .dropdown-menu {
      border-radius: 0;
      color: $font-color;
      font-family: $brand-font-medium;
      padding: 1.5rem .5rem;
      right: 50%;
      transform: translateX(50%);
      li {
        a {
          &:hover {
            background-color: transparent;
          }

        }
        a.dropdown-item {
          color: $font-color;
          padding: .35rem 1.5rem;
          span {
            border-bottom: 2px solid transparent;
            transition: all .1s ease-in-out;
          }
        }
        .dropdown-item.active,
        .dropdown-item:active,
        .dropdown-item:focus,
        .dropdown-item:hover {
          background: transparent;
          span {
            border-bottom: 2px solid $jr-orange;
          }
        }
      }
    }
    @include media-breakpoint-up(lg) {
      .dropdown-menu::after {
        bottom: 100%;
        left: 50%;
        border: solid rgba(0,0,0,0);
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255,255,255,0);
        border-bottom-color: #fff;
        border-width: 8px;
        margin-left: -11px;
      }
    }
    form.search-form {
      margin-bottom: 1.5rem;
      .form-control {
        background-color: $email-soft-blue;
        border-radius: $border-radius-lg 0 0 $border-radius-lg;
        border-right: 0;
        padding: .5rem 0rem .5rem 1.5rem;
        &:focus-visible,
        &:focus {
          border-right: 0;
          border: 2px solid lighten($jr-middlegrey, 35%);
          box-shadow: none;
          outline: 0;
        }
      }
      button,
      .btn {
        background-color: $email-soft-blue;
        border: 2px solid lighten($jr-middlegrey, 35%);
        border-left: 0;
        border-radius: 0 $border-radius-lg $border-radius-lg 0;
        &:active,
        &:hover,
        &:focus {
          background-color: $email-soft-blue;
          border: 2px solid lighten($jr-middlegrey, 35%);
          border-left: 0;
        }
      }
    }
  }
}