/* Sliders
====================================================== */
.slider-block {
  .carousel {
    .carousel-inner {
      @include media-breakpoint-up(md){
        padding-bottom: 2rem;
      }
      .carousel-item {
        align-items: center;
        @include media-breakpoint-up(md){
          display: flex;
        }
        .box  {
          height: 100%;
          width: 100%;
          @include media-breakpoint-up(md){
            width: 50%;
          }
        }
      }
    }

    .carousel-control-next {
      right: .3rem;
      @include media-breakpoint-up(md){
        right: 1rem
      }
    }
    .carousel-control-prev {
      left: .3rem;
      @include media-breakpoint-up(md){
        left: 1rem
      }
    }

    .carousel-control-prev,
    .carousel-control-next {
      opacity: 1;
      width: auto;
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        height: 1.3rem;
        width: 1.3rem;
      }
    }
    .carousel-indicators {
      @include media-breakpoint-up(md){
        margin-bottom: 3rem;
      }
      button {
        border-bottom: 0;
        border-radius: $border-radius-lg;
        border-top: 0;
        height: .8rem;
        margin-right: .5rem;
        width: .8rem;
      }
    }
  }
}

.sm-img-slider {
  .sm-img-slider-bkgrd-img {
    @include aspect-ratio(3,4);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}