/* Containers
================================================== */
.column-y-padding {
  padding: $grid-layout-spacing 0;
}

/* Section colors
================================================== */
.bg-soft-blue {
  background-color: $email-soft-blue;
}
.bg-warm-grey {
  background-color: $warm-grey;
}
.bg-cool-grey {
  background-color: $cool-grey;
}